{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	
	{{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "spotlight" site.Data.spotlight2 }}

	{{ partial "video" site.Data.video_megan }}
	{{ partial "gallery" site.Data.gallery_megan }}
	{{ partial "video" site.Data.video_sarah }}

	{{ partial "spotlight" site.Data.spotlight3 }}

	{{ partial "video" site.Data.video_noelle }}
	{{ partial "gallery" site.Data.gallery_noelle }}

	{{ partial "video" site.Data.video_monica }}
	{{ partial "gallery" site.Data.gallery_monica }}
	{{ partial "video" site.Data.video_kat }}

	{{ partial "spotlight" site.Data.spotlight5 }}
	{{ partial "spotlight" site.Data.spotlight6 }}

	{{ partial "video" site.Data.video_sugie }}
	{{ partial "video" site.Data.video_mojib }}
	{{ partial "gallery" site.Data.gallery_groupbool }}


	{{ partial "video" site.Data.video_alec }}
	{{ partial "gallery" site.Data.gallery_alec }}


	{{ partial "video" site.Data.video_leila }}
	{{ partial "gallery" site.Data.gallery_leila }}


	{{ partial "video" site.Data.video_deidre }}
	{{ partial "gallery" site.Data.gallery_deidre }}

	{{ partial "spotlight" site.Data.spotlight4 }}

	{{ partial "video" site.Data.video_allie }}
	{{ partial "gallery" site.Data.gallery_allie }}


	{{ partial "video" site.Data.video_xhama }}
	{{ partial "gallery" site.Data.gallery_xhama }}


	{{ partial "video" site.Data.video_icy }}


{{ end }}